/* Basics of the site */
body {
  font-family: "Maven Pro", sans-serif;
  background-color: rgba(0, 0, 0, 0.921);
  color: rgba(255, 255, 255, 0.778);
  margin: 0px;
  padding: 0px;
}

/* Container base */
.container {
  display: flex;
  justify-content: center;
}

/* Address input field */
.input-default {
  padding: 10px 10px;
  min-width: 420px;
  border-radius: 12px;
  border: 2px solid rgb(63, 63, 63);
  color: rgba(0, 0, 0, 0.58);
}

/* Input changes after it is "focused"/"clicked on" */
.input-default:focus {
  border: 3px solid rgb(62, 155, 179);
}

/* Button Style */
.button-default {
  padding: 4px 20px;
  font-weight: 600;
  background-color: rgb(255, 255, 255);
  margin: 0px 0px 0px 4px;
  border-radius: 10px;
}

/* size of NFT area */
.max-width {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 400px;
  border: 10px whitesmoke;
  border-radius: 20px;
}

/* NFT "box" Image look */
img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 4px;
}

/* Lineup of the rows */
.nft-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* Names of NFTs */
.nft-row h3 {
  font-size: 20px;
  font-weight: 700;
}

.nft-col {
  width: 25%;
  margin: 8px 8px;
}

.image-container {
  margin: 10px 0px 0px 0px;
}

/* Mobile Sytles via Spike */
@media screen and (max-width: 600px) {
  .nft-row {
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .nft-col {
    width: 80%;
  }
  .input-default {
    min-width: 100px;
  }
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal.open {
  display: block;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000000;
  margin: auto;
  padding: 0;
  width: 80%;
  max-width: 800px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: modal;
  animation-duration: 0.4s;
  text-align: center;
}

@keyframes modal {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.close-button {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-content p {
  margin: 20px;
}
