body {
    font-family: Arial, sans-serif;
    background-color: #63b0eb;
}

#user-address {
    width: 300px;
    height: 30px;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

#submit-button {
    width: 100px;
    height: 30px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#nft-images-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    width: 100%;
}

#nft-images-container img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table td {
    vertical-align: top;
    padding: 10px;
}

table td img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}